.btn-primary {
    filter: opacity(0%);
    background-color: #212529;
    border-color: #212529;
}

.btn-primary:hover {
    filter: opacity(100%);
    transition: all 0.3s ease-in;
    background-color: #212529;
    border-color: #212529;
}

.container-nav{
    padding-right: 0%;
    padding-left: 0%;
    margin-right: 0%;
    margin-left: 1.5rem;
}

body{
    background-image: url(https://wallpaperaccess.com/full/358836.jpg);
}

.py-5{
    padding-top: 20rem!important;
}
